<mat-table [dataSource]="source?.users" class="mat-elevation-z8">
  <!-- Picture Column -->
  <ng-container matColumnDef="picture">
    <mat-header-cell *matHeaderCellDef> Picture </mat-header-cell>
    <mat-cell *matCellDef="let element">
      <img class="profile-picture" [src]="element.avatarUrl" [alt]="element.email" />
    </mat-cell>
  </ng-container>

  <!-- Username Column -->
  <ng-container matColumnDef="username">
    <mat-header-cell *matHeaderCellDef> Username </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{ element.email }} </mat-cell>
  </ng-container>

  <!-- Bio Column -->
  <ng-container matColumnDef="bio">
    <mat-header-cell *matHeaderCellDef> Bio </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{ element.bio }} </mat-cell>
  </ng-container>

  <!-- Weight Column -->
  <!--  <ng-container matColumnDef="stars">
    <mat-header-cell *matHeaderCellDef> Stars </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.weight}} </mat-cell>
  </ng-container>-->

  <!-- Symbol Column -->
  <ng-container matColumnDef="followers">
    <mat-header-cell *matHeaderCellDef> Followers </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{ element.followers }} </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
</mat-table>

<mat-paginator
  [length]="source?.totalCount"
  [pageSize]="pagigationSetup?.pageSize"
  [pageIndex]="pagigationSetup?.pageIndex"
  [pageSizeOptions]="[5, 10, 25, 100]"
  (page)="onPaginatorChange($event)"
>
</mat-paginator>
